@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #191919;
  --border: #e5e5e5;
  --input: #f5f5f5;
  --ring: #e5e5e5;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #191919;
  --muted: #f5f5f5;
  --muted-foreground: #666666;
  --accent: #f5f5f5;
  --accent-foreground: #191919;
  --popover: #ffffff;
  --popover-foreground: #191919;
  --card: #ffffff;
  --card-foreground: #191919;
  --radius: 0.5rem;
}